.intro-image img{
    width: 300px;
}

.quote p {
    font-size: 25px;
    padding: 26px 26px 0px 26px;
}

.quote h5{
    padding: 0px 26px;
}

.courses-section{
	background: rgb(294,86,86);
  }

.courseland-flip-card {
  margin: 10px 0px;
}

ul{
    padding: 0;
}

.playlist{
    flex-direction: column;
}

.vid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.iframe-vid{
    width: 275px;
}

.course-front-container h1{
    padding-left: 67px;
}

.subbtn{
    margin-left: 138px;
}

.regbtn{
    margin-left: 133px;
}

.course-head h1{
    padding-left: 14px;
    text-align: center;
}

.course-head p{
    padding-left: 20px;
    text-align: center;
}

.get-started-a{
    background-color: white;
    color: black;
}