{% extends 'index.html' %}

{% block title %}
| - Frontend
{% endblock title %}

{% block course_frontend %}
<div class="course-front-container">
  <div class="course-head">
    <h1>FrontEnd Course</h1>
    <p>Start your journey of becoming a FullStack Developer here</p>
  </div>
  <div class="playlist">
    <div class="vid">
      <iframe class="iframe-vid" width="560" height="315" style="border-radius: 25px;" src="https://www.youtube.com/embed/l1EssrLxt7E"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="vid">
      <iframe  class="iframe-vid" width="560" height="315" style="border-radius: 25px;" src="https://www.youtube.com/embed/Rek0NWPCNOc"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="playlist">
    <div class="vid">
      <iframe class="iframe-vid" width="560" height="315" style="border-radius: 25px;" src="https://www.youtube.com/embed/2QR11oDukn4"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="vid">
      <iframe class="iframe-vid" width="560" height="315" style="border-radius: 25px;" src="https://www.youtube.com/embed/jRAZlTEZi9I"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
<!--   <div class="add-course-btn">
    <a class="get-started c-b" href="#" onclick="addVideo()">Add Video + </a>
  </div> -->
</div>

<!-- <script>
  function addVideo() {
    let video_src = prompt("Please enter video link which needs to be added")
    console.log(video_src)
  }
</script> -->
{% endblock course_frontend %}