{% extends 'index.html' %}

{% block title %}
| - Frontend
{% endblock title %}

{% block courses %}
<div class="course-front-container">
    <div class="playlist">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KoOhHr3_kTo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KoOhHr3_kTo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="playlist">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KoOhHr3_kTo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KoOhHr3_kTo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>
</div>
{% endblock courses %}