{% extends 'index.html' %}

{% block title %}
| - Backend
{% endblock title %}

{% block course_backend %}
<div class="course-front-container">
  <div class="course-head">
  <h1 align="center"> Backend Course</h1>
  <p>Start your journey of becoming a frontend developer here</p>
</div>
  <div class="playlist">
    <div class="vid">
      <iframe width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/5BDgKJFZMl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="vid">
      <iframe width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/HdoPg2e_m9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="playlist">
    <div class="vid">
      <iframe width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/weAUmhABjBc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="vid">
      <iframe width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/wU_8jeZRenE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="add-course-btn">
    <a class="get-started c-b" href="#" onclick="addVideo()">Add Video + </a>
  </div>
</div>

<script>
  function addVideo(){
  let video_src = prompt("Please enter video link which needs to be added")
  console.log(video_src)
  }
</script>
{% endblock course_backend %}