{% extends 'index.html' %}

{% block title %}
| - Frontend
{% endblock title %}

{% block course_database %}
<div class="course-front-container">
  <div class="course-head">
    <h1 align="center">Database Course</h1>
    <p>Start your journey of becoming a frontend developer here</p>
  </div>
    <div class="playlist">
      <div class="vid">
        <iframe class="iframe-vid" width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/oeYBdghaIjc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="vid">
        <iframe class="iframe-vid" width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/6VCHuLqfmV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="playlist">
      <div class="vid">
        <iframe class="iframe-vid" width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/1D81vXw2T_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="vid">
        <iframe class="iframe-vid" width="560" height="315" style="border-radius:25px" src="https://www.youtube.com/embed/YWRYEXNy6IE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
<!--     <div class="add-course-btn">
      <a class="get-started c-b" href="#" onclick="addVideo()">Add Video + </a>
    </div> -->
  </div>
  
<!--   <script>
    function addVideo(){
    let video_src = prompt("Please enter video link which needs to be added")
    console.log(video_src)
    }
  </script> -->
{% endblock course_database %}