<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="static/css/style.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

    <script>
      $(window).on('scroll', function(){
          if($(window).scrollTop()){
            $('nav').addClass('black');
          }else {
          $('nav').removeClass('black');
        }
      })
    </script>
  <script type="text/javascript" src="static/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <title>eLearn</title>
</head>

<body>
  <!-- <h1>Hello, Hackathon Codestrom</h1> -->

  <!-- Navbar -->
  <header id="header">
    <nav class="black">
      <div class="logo"><img src="static/images/logo.jpeg" alt="logo" /></div>
      <ul>
        <li><a class="active" href="">Home</a></li>
        <li><a href="#portfolio_section">Portfolio</a></li>
        <li><a href="#team_section">Team</a></li>
        <li><a href="#services_section">Services</a></li>
        <li><a href="#contactus_section">Contact</a></li>
      </ul>
      <a class="get-started" href="login.html">Get Started</a>
      <img src="static/images/menu.png" class="menu" onclick="sideMenu(0)" alt="menu" />
    </nav>
    <div class="head-container">
      <div class="svg-image">
        <img src="" alt="svg" />
      </div>
    </div>
    <div class="side-menu" id="side-menu">
      <div class="close" onclick="sideMenu(1)">
        <img src="static/images/menu-unchecked.png" alt="" />
      </div>
      <div class="user">
        <img src="images/creator/roshan.jpeg" alt="Username" />
        <p>roshank9419</p>
      </div>
      <ul>
        <li><a href="#about_section">About</a></li>
        <li><a href="#portfolio_section">Portfolio</a></li>
        <li><a href="#team_section">Team</a></li>
        <li><a href="#services_section">Services</a></li>
        <li><a href="#contactus_section">Contact</a></li>
        <li><a href="#feedBACK">Feedback</a></li>
      </ul>
    </div>
  </header>

  <!-- yeh neeche joh hai uska heading kya hai? -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
</body>

</html>