{% extends 'index.html' %}
{% block landing %}
<div class="head-container">
  <div class="quote">
    <p>Take the next step in your career with a world class learning experience.</p>
    <h5>The beautiful thing about learning is that nobody can take it away from you.</h5>
  </div>
  <div class="intro-image">
    <img src="/static/images/intro.jpeg" alt="svg" />
  </div>
</div>


<div class="courses-section" id="course-navigation">
  <br /> <br /> <br /> <br />
  <div class="section-name">
    <h1>Courses</h1>
  </div>
  <div class="card-container">
    <div class="courseland-flip-card">
      <div class="courseland-flip-card-inner">
        <div class="courseland-flip-card-front">
          {% if user.is_authenticated %}
          <a href="/courses">
            <img src="/static/images/frontend-landing.jpg" alt="Avatar" style="width:300px;height:300px;">
          </a>
          {% else %}
          <img src="/static/images/frontend-landing.jpg" alt="Avatar" style="width:300px;height:300px;"
            data-bs-toggle="modal" data-bs-target="#loginModel">
          {% endif %}
        </div>
      </div>
    </div>
    <div class="courseland-flip-card">
      <div class="courseland-flip-card-inner">
        <div class="courseland-flip-card-front">
          {% if user.is_authenticated %}
          <a href="/courses">
            <img src="/static/images/backend-landing.jpg" alt="Avatar" style="width:300px;height:300px;">
          </a>
          {% else %}
          <img src="/static/images/backend-landing.jpg" alt="Avatar" style="width:300px;height:300px;"
            data-bs-toggle="modal" data-bs-target="#loginModel">
          {% endif %}

        </div>
      </div>
    </div>
    <div class="courseland-flip-card">
      <div class="courseland-flip-card-inner">
        <div class="courseland-flip-card-front">
          {% if user.is_authenticated %}
          <a href="/courses">
            <img src="/static/images/database-landing.jpg" alt="Avatar" style="width:300px;height:300px;">
          </a>
          {% else %}
          <img src="/static/images/database-landing.jpg" alt="Avatar" style="width:300px;height:300px;"
            data-bs-toggle="modal" data-bs-target="#loginModel">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team-section" id="team-navigation">
  <br /> <br /> <br /> <br />
  <div class="section-name">
    <h1 align="center">StackUp's Amazing Team</h1>
  </div>

  <div class="card-container">
    <div class="teams-flip-card">
      <div class="teams-flip-card-inner">
        <div class="teams-flip-card-front">
          <h1>Code With Harry</h1>
          <p>Full Stack Developer</p>
          <img src="/static/images/harry.jfif" alt="Avatar" style="width:250px;height:250px;  border-radius: 50px;">
        </div>
      </div>
    </div>
    <div class="teams-flip-card">
      <div class="teams-flip-card-inner">
        <div class="teams-flip-card-front">
          <h1>Aman Dhattarwal</h1>
          <p>Front-end Developer</p>
          <img src="/static/images/aman_Dhattarwal.jfif" alt="Avatar"
            style="width:250px;height:250px; border-radius: 50px;">
        </div>
      </div>
    </div>
    <div class="teams-flip-card">
      <div class="teams-flip-card-inner">
        <div class="teams-flip-card-front">
          <h1>CS <br> Dojo</h1>
          <p>Back-end Developer</p>
          <img src="static\images\cs_dojo.jfif" alt="Avatar" style="width:250px;height:250px;  border-radius: 50px;">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock landing %}