{% extends 'index.html' %}
{% block landing %}
<div class="head-container">
  <div class="quote">
    <p>Take the next step in your career with a world class learning experience.</p>
    <h5>The beautiful thing about learning is that nobody can take it away from you.</h5>
  </div>
  <div class="intro-image">
    <img src="/static/images/intro.jpeg" alt="svg" />
  </div>
</div>


<div class="courses-section" id="course-navigation">
  <br /> <br /> <br /> <br />
  <div class="section-name">
    <h1>Courses</h1>
  </div>
  <div class="card-container">
    <div class="courseland-flip-card">
      <div class="courseland-flip-card-inner">
        <div class="courseland-flip-card-front">
          {% if user.is_authenticated %}
          <h1>Frontend</h1>
          <a href="/course_frontend">
            <img src="/static/images/frontend-landing.jpg" alt="Avatar" style="width:250px;height:250px; border-radius: 50px; margin-left: 17px;">
          </a>
          {% else %}
          <h1>Frontend</h1>
          <img src="/static/images/frontend-landing.jpg" alt="Avatar" style="width:250px;height:250px; border-radius: 50px; margin-left: 17px;"
            data-bs-toggle="modal" data-bs-target="#loginModel">
          {% endif %}
        </div>
      </div>
    </div>
    <div class="courseland-flip-card">
      <div class="courseland-flip-card-inner">
        <div class="courseland-flip-card-front">
          {% if user.is_authenticated %}
          <h1>Backend</h1>
          <a href="/course_backend">
            <img src="/static/images/backend-landing.jpg" alt="Avatar" style="width:250px;height:250px; border-radius: 50px; margin-left: 17px;">
          </a>
          {% else %}
          <h1>Backend</h1>
          <img src="/static/images/backend-landing.jpg" alt="Avatar" style="width:250px;height:250px; border-radius: 50px; margin-left: 17px;"
            data-bs-toggle="modal" data-bs-target="#loginModel">
          {% endif %}

        </div>
      </div>
    </div>
    <div class="courseland-flip-card">
      <div class="courseland-flip-card-inner">
        <div class="courseland-flip-card-front">
          {% if user.is_authenticated %}
          <h1>Database</h1>
          <a href="/course_database">
            <img src="/static/images/database-landing.jpg" alt="Avatar" style="width:250px;height:250px; border-radius: 50px; margin-left: 17px;">
          </a>
          {% else %}
          <h1>Database</h1>
          <img src="/static/images/database-landing.jpg" alt="Avatar" style="width:250px;height:250px; border-radius: 50px; margin-left: 17px;"
            data-bs-toggle="modal" data-bs-target="#loginModel">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% if user.is_authenticated %}
<div class="team-section" id="team-navigation">
  <br /> <br /> <br /> <br />
  <div class="section-name">
    <h1 align ="center">StackUp Online Resources</h1>
  </div>

  <div class="card-container">
    <div class="help-flip-card">
      <div class="help-flip-card-inner">
        <div class="help-flip-card-front">
          <h1>Quizzes</h1>
          <p>Quizzes to improve your skills</p>
          <img src="/static/images/quiz.jpg" alt="Avatar" style="width:250px;height:250px;  border-radius: 50px;">
        </div>
        <div class="flip-card-back">
          <h1 class="flip-card-h1">Quiz</h1> 
          <p>Quiz Links to improve your skills</p> 
          <a target="_blank" href="https://www.w3schools.com/quiztest/quiztest.asp?qtest=HTML">HTML</a>
          <a target="_blank" href="https://www.w3schools.com/quiztest/quiztest.asp?qtest=CSS">CSS</a>
          <a target="_blank" href="https://www.w3schools.com/quiztest/quiztest.asp?qtest=JS">JavaScript</a>
          <a target="_blank" href="https://www.w3schools.com/quiztest/quiztest.asp?qtest=PHP">PHP</a>
          <a target="_blank" href="https://www.w3schools.com/quiztest/quiztest.asp?qtest=PYTHON">Python</a>
          <a target="_blank" href="https://www.w3schools.com/quiztest/quiztest.asp?qtest=SQL">SQL</a>
          
        </div>
      </div>
    </div>
    <div class="help-flip-card">
      <div class="help-flip-card-inner">
        <div class="help-flip-card-front">
          <h1>Assignments</h1>
          <p>Get StackedUp with our assignments</p>
          <img src="/static/images/assign.jpg" alt="Avatar"
            style="width:250px;height:250px; border-radius: 50px;">
        </div>
        <div class="flip-card-back">
          <h1 class="flip-card-h1">Intriguing Assignments</h1> 
          <p>Solve assignemnts to ace in full stack</p> 
          <a target="_blank" href="https://www.hackerrank.com/skills-verification/css">CSS</a>
          <a target="_blank" href="https://www.hackerrank.com/skills-verification/javascript_basic">JavaScript Basic</a>
          <a target="_blank" href="https://www.hackerrank.com/skills-verification/javascript_intermediate">JavaScript Intermediate</a>
          <a target="_blank" href="https://www.hackerrank.com/skills-verification/python_basic">Python</a>
          <a target="_blank" href="https://www.hackerrank.com/skills-verification/sql_basic">SQL Basic</a>
          <a target="_blank" href="https://www.hackerrank.com/skills-verification/sql_intermediate">SQL Intermediate</a>
        </div>
      </div>
    </div>
    <div class="help-flip-card">
      <div class="help-flip-card-inner">
        <div class="help-flip-card-front">
          <h1>Books</h1>
          <p>Man's best friend</p>
          <img src="static\images\book2.jpg" alt="Avatar" style="width:250px;height:250px;  border-radius: 50px;">
        </div>
        <div class="flip-card-back">
          <h1 class="flip-card-h1">Books</h1> 
          <p>Study online with books</p> 
          <a target="_blank" href="https://www.internetingishard.com/">Frontend - Interneting is Hard</a>
          <a target="_blank" href="https://frontendmasters.gitbooks.io/front-end-handbook-2017/content/">Frontend - Front-End Developer Handbook 2017 </a>
          <a target="_blank" href="https://www.programmer-books.com/wp-content/uploads/2018/08/Django-Book-Web-framework-for-Python.pdf">Backend - The Django Book </a>
          <a target="_blank" href="http://user.it.uu.se/~arnea/datastrukturer/database.pdf">Database - datastrukturer</a>
          <a target="_blank" href="https://archive.org/details/database-books">Database - Different Database books</a>
        </div>
      </div>
    </div>
    <div class="help-flip-card">
      <div class="help-flip-card-inner">
        <div class="help-flip-card-front">
          <h1 class="help-flip-card-h1">Github Projects</h1> 
          <p>Project Ideas</p> 
          <img src="/static/images/git-projects.jpeg" alt="Avatar" style="width:250px;height:250px;">
        </div>
        <div class="flip-card-back">
          <h1 class="flip-card-h1">Github Projects</h1> 
          <p>Project Ideas</p> 
          <a target="_blank" href="https://github.com/irinatu17/Art-of-Tea">Art of Tea - Django Project </a>
          <a target="_blank" href="https://github.com/KJY93/Project-4-Django-FullStack-Web-Development">Book Store - Django Project </a>
          <a target="_blank" href="https://github.com/sarahcrosby/project-five-django">Blog Site - Django Project </a>
          <a target="_blank" href="https://github.com/Nahid71/Doctor-and-Patient-Management-System">Doctor-and-Patient-Management-System - Django Project </a>
          <a target="_blank" href="https://github.com/jordandaly/issue_tracker">Issue Tracker - Django Project </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="team-section" id="team-navigation">
  <br /> <br /> <br /> <br />
  <div class="section-name">
    <h1 style="text-align:center;">StackUp's Amazing Teachers</h1>
  </div>

  <div class="card-container">
    <div class="teams-flip-card">
      <div class="teams-flip-card-inner">
        <div class="teams-flip-card-front">
          <h1>Code With Harry</h1>
          <p>Full Stack Developer</p>
          <img src="/static/images/harry.jfif" alt="Avatar" style="width:250px;height:250px;  border-radius: 50px;">
        </div>
      </div>
    </div>
    <div class="teams-flip-card">
      <div class="teams-flip-card-inner">
        <div class="teams-flip-card-front">
          <h1>Aman Dhattarwal</h1>
          <p>Front-end Developer</p>
          <img src="/static/images/aman_Dhattarwal.jfif" alt="Avatar"
            style="width:250px;height:250px; border-radius: 50px;">
        </div>
      </div>
    </div>
    <div class="teams-flip-card">
      <div class="teams-flip-card-inner">
        <div class="teams-flip-card-front">
          <h1>CS <br> Dojo</h1>
          <p>Back-end Developer</p>
          <img src="static\images\cs_dojo.jfif" alt="Avatar" style="width:250px;height:250px;  border-radius: 50px;">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% endblock landing %}